.CategoryTitleContainer{
    margin: 15px 5px;
}
.CategoryList{
    flex: 4;
}

.CategoryListItem{
    display: flex;
    align-items: center;
}

.CategoryListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.CategoryListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.CategoryListDelete{
    color: red;
    cursor: pointer;
}